<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>
</head>
<body>
    <form id="myForm" method="post">
        {% csrf_token %}
        <label>Nombre</label>
        <input type="text" name="name">
        <label>Descripción</label>
        <input type="text" name="description">
        <select name="category">
            <option selected>Categoria</option>
            {% for category in list %}
            <option value="{{category.id}}">{{category.name}}</option>
            {%endfor%}
        </select>
        <input type="submit" value="Guardar"/>
    </form>
</body>
<script>
</script>
</html>