<!DOCTYPE html>
<html>
    <head>
        <title>Actividad</title>
    </head>
    <body>
        <h1 style="color: red;">Esta pagina sirve para consultar tus ejercicios, rutinas, categorias y actividad</h1>
        <!--TABLA DE EJERCICIOS-->
        <table>
            <thead>
                <th>Ejercicios</th>
            </thead>
            <tbody>
                <td>si</td>
            </tbody>
        </table>
        <!--TABLA DE CATEGORIAS-->
        <table>
            <thead>
                <th>Categoria</th>
            </thead>
            <tbody>
                <td>si</td>
            </tbody>
        </table>
        <!--TABLA DE RUTINAS-->
        <table>
            <thead>
                <th>Rutinas</th>
            </thead>
            <tbody>
                <td>si</td>
            </tbody>
        </table>
        <!--TABLA DE ACTIVIDAD-->
        <table>
            <thead>
                <th>Actividad</th>
            </thead>
            <tbody>
                <td>si</td>
            </tbody>
        </table>
    </body>
</html>