{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Actividad</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1 style="text-align: center;">Registro de actividades</h1>
        <hr>
        <i style="text-align: center;">Esta pagina sirve para consultar tus ejercicios, rutinas, categorias y actividad</i>
        <!--TABLA DE EJERCICIOS-->
        <div class="container">
            <div class="row justify-content-md-center">
                <h5>Lista de ejercicios</h5>
                <br>
                <br>
                <h2>TABLA DE EJERCICIOS</h2>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="table-responsive">
                        <table id="exercise_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Categoria</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exercise in exercises %}
                                <tr>
                                    <td>{{ exercise.name }}</td>
                                    <td>{{ exercise.description }}</td>
                                    <td>{{ exercise.category.name }}</td>
                                    <td>
                                        <form action="{% url 'activity:delete_exercise' exercise.id %}" method="post">
                                            {% csrf_token %}
                                            <button style="color: red;" type="submit">
                                                <i>Eliminar</i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                </svg>
                                            </button>
                                        </form>
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button style="color: green;" type="submit">
                                                <i>Editar</i>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" >
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button onclick="window.location.replace('/ejercicios')">Agregar nuevo ejercicio</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row justify-content-md-center">
                <h2>TABLA DE CATEGORIAS</h2>
                <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                    <div class="table-responsive">
                        <table id="exer_table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $('#exercise_table').DataTable();
            });
        </script>
    </body>
</html>