<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutinas</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Crear una nueva rutina</h1>
        {{ form.as_p }}
        <ul>
            <p>SELECCIONA LOS EJERCICIOS QUE DESEAS AGREGAR A ESTA RUTINA:</p>
            {% for exercise in exercises %}
                <li>
                    <label>
                        <input type="checkbox" name="exercises" value="{{ exercise.id }}">
                        {{ exercise.name }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>